*  {
    font-family: Arial;
}

body{
    background-color: #070769;
}


.container {
    align-items: center;
    text-align: center;
}

.main-box {
    border: 4px solid rgb(128, 190, 21);
    width: 400px;
    height: 390px;
    margin-left: 33%;
    margin-top: 10%;
    background-color: rgb(237, 235, 235);
}


.input-altura, .input-peso {
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 20rem;
}


label {
    margin-bottom: 5px;
}