*  {
    font-family: Arial;
}

body{
    background-color: #0b0b71;
}


.container {
    align-items: center;
    text-align: center;
}

.main-box {
    border: 4px solid rgb(107, 14, 165);
    border-radius: 15px;
    width: 400px;
    height: 390px;
    margin-left: 33%;
    margin-top: 10%;
    background-color: rgb(237, 235, 235);
}


.input-altura, .input-peso{
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 20rem;
}


.buttons{
    display: flex;
    margin-left: 38%;
    margin-top: -7%;
}

.buttons :hover{
    color: #fff;
}

.btn-result , .btn-remove {
    padding-left: 10px;
    border: solid 2px #712699;
    width: 100px;
    height: 40px;
    background-color: #892fb9;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 15px;
    font-size: 15px;
}



.btn-padding{
    padding-left: 3px;
}


.block{
    display: block;
}

.required-field{
    color: red;
}

label {
    margin-bottom: 5px;
}